/* h1{
    background-color: white;
    color: darkblue;
    width: 50;
    height: 50%;
    text-align: center;
    border: rgb(7, 7, 92);
    border-style: solid;
    border-width: 5px;
    width: 300px;
    margin-left: 425px;
} */

#main{
    background-color: rgba(0, 0, 0, 0.521);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body{
    background-image: url("https://i.pinimg.com/originals/7d/0b/25/7d0b25b065091c9c88d1e8f39dbbe7f8.jpg");
}

.schedulerow {
    width: 80%;
    height: 100px;
    margin: auto;
    
}

.time {
    height: 90px;
    width: calc(10% - 22px);
    float: left;
    border-right: darkblue solid 2px;
    background-color:rgba(0, 0, 0, 0.521);
    color: rgb(250, 250, 250);
    padding-top: 5px;
    padding-left: 5px;
}

.event {
    width: 50%;
    height: 90px;
    float: left;
    color: darkblue;
}

.save {
    height: 90px;
    width: 10%;
    float: left;
}

textarea {
    border: 0px;
    padding: 0px 10px;
    font: 500;
    background-color: white;
}